<h1>Add a New Bookshelf</h1>

<form action="/bookshelves" method="POST">
  <label> Bookshelf Name </label>
  <input type="text" name="name"> </br>

  <label> Bookshelf Color </label>
  <input type="text" name="color"> </br>

  <input type="submit" value="Create">
</form>