<h1>Add a New Book</h1>

<form action="/bookshelves" method="POST">
  <label> Book Title </label>
  <input type="text" name="name"> </br>

  <label> Book's Author </label>
  <input type="text" name="author"> </br>

  <label>bookshelf</label><br>
  <input class="form-control" list="bookshelves" name="bookshelf[name]" value="<%=@book.bookshelf.name%>">
  <datalist id="bookshelves">
    <%current_user.bookshelves.each do |bookshelf|%>
      <option value="<%=bookshelf.name%>"><%=bookshelf.name%></option>
    <%end%>
  </datalist>

  <input type="submit" value="Shelve">
</form>