<h1>Add a New Book</h1>

<form action="/books/" method="POST">
  <label> Book Title </label>
  <input type="text" name="name"> </br>

  <label> Book's Author </label>
  <input type="text" name="author"> </br>

  <div class="form-group">
  <strong><u>What Bookshelf Does This Go On?</u></strong>:<br>
    <% current_user.bookshelves.each do |bookshelf| %>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="bookshelf[bookshelf_ids][]" value="<%=bookshelf.id%>">
          <%=bookshelf.name%>
        </input>
      </label>
    </div>
    <% end %>
  </div>

  <input type="submit" value="Shelve">
</form>